$colors: (
    lprimary: #ffffff,
    lsecond: #c4c4c4,
    lfont: #000000,
    lback: #2c2c2c,
);

@function gC($colorCode) {
    @return map-get($colors, $colorCode);
}


.modal-container {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(gC(lback), 0.9);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    overflow: auto;
    animation: slowPopUp;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes slowPopUp {
    from {
        opacity: 0.0;
        height: 0vh;
    }
    to {
        opacity: 1.0;
    }
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;
    padding: 1rem;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    margin-bottom: 3rem;
    max-width: 70%;
    min-width: 20rem;
    background-color: gC(lprimary);

    .modal-head {
        padding: 1rem;
        background-color: gC(lsecond);
        text-align: center;
    }

    .modal-body {
        padding: 1rem;
    }

    .modal-foot {
        padding: 1rem;
        background-color: gC(lsecond);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}




